{% extends "layout.html" %}
{% block content %}
    {% include "formly/partials/_sub_menu.html" %}
    <div class="main-content">
        <div class="container">
            <div class="card shadow-1">
                <h5 class="card-title"><strong>Survey Results</strong></h5>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card-body">

                                {% for result in survey.results.all %}
                                            <label >
{#                                                <span>{{ forloop.counter|add:result.start_index }} .</span>#}
                                                 {{ result.question.label }}
                                            </label>
                                        {% if result.upload %}
                                            <p>{{ result.upload }}</p>
                                        {% else %}
                                            <p>{{ result.answer_display|default:result.answer_value }}</p>
                                        {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#                                        <td>{{ result.result.user }}</td>#}
{#                                        <td>{{ result.page }}</td>#}
{#                                        <td>{{ result.question.label }}</td>#}
