{% extends "layout.html" %}
{% block content %}

{#                    <a class="nav-link active" href="/question/surveys/{{ survey.pk }}/results/">Past Results</a>#}


    <div class="card" style="">
  <div class="card-body">
    <h5 class="card-title text-center">Success</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ survey }}</h6>
    <p class="card-text">Completed Successfully.</p>
    <a href="/question/surveys/{{ survey.pk }}/results/{{ survey_result.pk }}/" class="card-link">View Submission</a>
{#    <a href="#" class="card-link">Edit</a>#}
  </div>
</div>


{% endblock %}
