{% extends "layout.html" %}
{% block content %}

                <h4 class="">Submissions</h4>

    <ul class="list-group">
        {% for result in results %}

            <li class="list-group-item">

                <div class="row">

                    <div class="col-md-10">

                        <h6>{{ result.user }} </h6>
                        {{ result.date_submitted }}


                    </div>
                    <div class="col-md-2" style="padding-left: 0;">


                        <!-- Example split danger button -->
                        <div class="btn-group float-right">
                            {#  <button type="button" class="btn btn-danger">Action</button>#}

                            <a href="/question/surveys/{{ survey.pk }}/results/{{ result.pk }}/"
                               class="btn btn-danger">View Answers</a>

                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                {#                                <a class="dropdown-item" href="#">Action</a>#}
                                {#                                <a class="dropdown-item" href="#">Another action</a>#}
                                {#                                <a class="dropdown-item" href="#">Something else here</a>#}
                                {#                                <div class="dropdown-divider"></div>#}
                                {#                                <a class="dropdown-item" href="#">Separated link</a>#}
                            </div>
                        </div>


                    </div>

                </div>


            </li>

            {% empty %}

            <li class="list-group-item">

            No submissions on this Question set yet

            </li>

        {% endfor %}


    </ul>


{% endblock %}
