{#{% extends "layout.html" %}#}
{% extends "layout.html" %}


{% block content %}
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">{{ survey }}</h5>

            <h5>{{ survey_result.user }}</h5>
            <h6>{{ survey_result.date_submitted }}</h6>


        </div>
    </div>

    <div class="card" style="margin-top: 10px">

        <div class="card-body">
            <h5 class="card-title">{{ results_page }}</h5>
            <ul class="nav nav-tabs">
                {% for survey_page in survey.pages.all %}
                    <li class="nav-item">
                        <a class="nav-link {% if survey_page.pk == results_page.pk %}active{% endif %}"
                           href="/question/surveys/{{ survey.pk }}/results/{{ survey_result.pk }}/{{ survey_page.pk }}/">{{ survey_page }}</a>
                    </li>
                {% endfor %}

            </ul>

            {% for result in results %}

                <label>
                    <strong>{{ results_page.fields_start_index|add:forloop.counter }}</strong> {{ result.question.label }}
                </label>

                {% if result.upload %}
                    <p>{{ result.upload }}</p>
                {% else %}
                    {% if result.answer_value %}
                        <p class="ans_color">{{ result.answer_display|default:result.answer_value }}</p>
                    {% else %}
                        <p class="ans_color">No answer provided</p>
                    {% endif %}
                {% endif %}


            {% endfor %}

        </div>
    </div>

{% endblock %}
