{% extends 'authentication/layout.html' %}

{% block content %}

    <div class="card" >
  <div class="card-body">
    <h5 class="card-title">Registration</h5>
    <h6 class="card-subtitle mb-2 text-muted">Registration Request Successful</h6>
    <p class="card-text">
    An activation link will be sent to your email address after admin approves  registration. <br>
                    You confirm your email address to complete registration.
    </p>
  </div>
</div>

{% endblock %}