{% extends 'application.html' %}
{% block app %}
    <div class="container">
        <div class="spacer" style="margin-top: 10px"></div>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

