{% extends 'authentication/layout.html' %}
{% load web_filters %}
{% load static %}
{% block content %}

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Staff Login</h5>

                        <form class="form-type-material col-md-12" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p>{{ form.errors }}</p>
                            {% endif %}

                            {% for field in form %}
                                <div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p style="color: red">Error {{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field|addclass:'form-control' }}
                                        <span class="helptext">{{ field.help_text }}</span>
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <input class="btn btn-primary form-control" type="submit" value="Login">
                            </div>

                        </form>

                    <div style="margin-top: 10px">

                                <a class="btn btn-primary"
                                   href="{% url 'authentication:password_reset' %}">Reset Password</a>
                                <a class="btn btn-primary"
                                   href="{% url 'authentication:signup' %}">Teacher Register</a>

                    </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Student Login</h5>

                    {% with student_sign_in_form as form %}

                         <form class="form-type-material col-md-12" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p>{{ form.errors }}</p>
                            {% endif %}

                            {% for field in form %}
                                <div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p style="color: red">Error {{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="form-group">
                                        {% if field.name == 'password' %}
                                            {% else %}
                                            {{ field.label_tag }}
                                        {% endif %}
                                        {{ field|addclass:'form-control' }}
                                        <span class="helptext">{{ field.help_text }}</span>
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="form-group">
                                <input class="btn btn-primary form-control" type="submit" value="Login">
                            </div>

                        </form>


                    {% endwith %}


                    </div>
                </div>
            </div>
        </div>



{% endblock %}
