{% extends 'authentication/layout.html' %}
{% load web_filters %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Register</h5>
            <h6 class="card-subtitle mb-2 text-muted">Teacher Registration</h6>
            <form id="register-form" action="/signup/" method="post"
                  role="form" style="display: block;">
                {% csrf_token %}

                {% for field in form %}
                    <div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p style="color: red">Error {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            {#                                                {{ field.label_tag }}#}
                            <label for="{{ field.id_for_label }}"
                                   {% if field.field.required %}required{% endif %}>{{ field.label }}</label>
                            {{ field|addclass:'form-control' }}

                            <small>{{ field.help_text|safe }}</small>
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">

                    <input type="submit"
                           name="register-submit"

                           class="form-control btn btn-primary"
                           value="Register">

                </div>

            </form>
            You had an account?
            <a href="{% url 'authentication:login' %}" class="card-link">Login</a>
        </div>
    </div>

{% endblock %}
