    <header class="header header-inverse">
    <div class="container">
        <div class="header-info">
            <div class="left">
                <br>
                <h2 class="header-title"><strong>{{ survey.name }}</strong> <small class="subtitle">Please fill in all the questions in the {{ survey.name }} form for <strong><u>{{ daycare.name }}</u></strong>.</small></h2>
            </div>
        </div>

        <div class="header-action">
            <nav class="nav">

                <a class="nav-link active" href="/surveys/{{ survey.pk }}/results/">Past Assesments</a>
                <div class="buttons">
{#                    <a class="btn btn-primary btn-float" href="{% url 'formly_dt_survey_create' %}" title="Create a Survey" data-provide="tooltip"><i class="ti-plus"></i></a>#}
                </div>

            </nav>

        </div>
    </div>
</header>