    <header class="header header-inverse">
    <div class="container">
        <div class="header-info">
            <div class="left">
                <br>
                <h2 class="header-title"><strong>{{ survey.name }}</strong> <small class="subtitle">You can can take surveys and see the results here in this button.</small></h2>
            </div>
        </div>

        <div class="header-action">
            <nav class="nav">
                <a class="nav-link active " href="/surveys/{{ survey.pk }}/">Daycares List</a>
{#                <a class="nav-link  " href="#">Contacts</a>#}
{#                <a class="nav-link  " href="#">New Contact</a>#}
{#                <a class="nav-link  " href="#">Groups</a>#}
{#                <a class="nav-link  " href="#">SMS</a>#}
                <a class="nav-link  " href="/results/{{ survey.pk }}/">Past Assesments</a>
                <div class="buttons">
{#                    <a class="btn btn-primary btn-float" href="{% url 'formly_dt_survey_create' %}" title="Create a Survey" data-provide="tooltip"><i class="ti-plus"></i></a>#}
                </div>

            </nav>

        </div>
    </div>
</header>