    <header class="header header-inverse">
    <div class="container">


        <div class="header-action">
            <nav class="nav">
{#                <a class="nav-link {% if active_tab == 'tab1' %} active{% endif %}" href="/surveys/{{ survey.pk }}/">Daycares List</a>#}

                <div class="buttons">
{#                    <a class="btn btn-primary btn-float" href="{% url 'formly_dt_survey_create' %}" title="Create a Survey" data-provide="tooltip"><i class="ti-plus"></i></a>#}
                </div>

            </nav>

        </div>
    </div>
</header>