{% extends 'layout.html' %}

{% block content %}


{% include 'formly/design/_fields.html' %}
{#{% include 'formly/design/_likert_scale.html' %}#}
{#{% include 'formly/design/_likert_scale_form.html' %}#}
{#{% include 'formly/design/_likert_scales.html' %}#}
{#{% include 'formly/design/_rating_scale.html' %}#}
{#{% include 'formly/design/_rating_scale_form.html' %}#}
{#{% include 'formly/design/_rating_scales.html' %}#}
{#{% include 'formly/design/_fields.html' %}#}
{#{% include 'formly/design/_fields.html' %}#}



        {% include "formly/partials/_sub_menu.html" %}
      <div class="main-content">
        <div class="container">
                <div class="card shadow-1">
                <h5 class="card-title"><strong>Surveys</strong></h5>
                <div  class="row">
                    <div class="col-md-12 col-sm-12">
                    <div class="card-body">

{#                        {% include 'formly/design/_fields.html' %}#}
{##}
{#                        {% include 'formly/design/_likert_scale.html' %}#}
{#                        {% include 'formly/design/_likert_scale_form.html' %}#}
{#                        {% include 'formly/design/_likert_scales.html' %}#}
{#                        {% include 'formly/design/_rating_scale.html' %}#}
{#                        {% include 'formly/design/_rating_scale_form.html' %}#}
{#                        {% include 'formly/design/_rating_scales.html' %}#}
{#                        {% include 'formly/design/_fields.html' %}#}
{#                        {% include 'formly/design/_fields.html' %}#}

                            {% include '' %}


                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}