{% load static %}
<div class="main-content">
    <div class="container">


        {% for comment in survey_result.comment_set.all %}

            <div class="card shadow-1">
                <header class="card-header bg-lightest">
                    <div class="card-title flexbox">
                        <img class="avatar" src="{% static 'img/avatar/default.jpg' %}" alt="...">
                        <div>
                            <h6 class="mb-0">{{ comment.creator.email    }}</h6>
                            <small>{{ comment.created_at }}</small>
                        </div>
                    </div>
                </header>


                <div class="card-body">
                    <p>
                        {{ comment.text }}
                    </p>

{#                    <hr>#}
{#                    <h6 class="text-lighter text-uppercase mb-12">#}
{#                        <i class="fa fa-paperclip mr-2"></i>#}
{#                        <small>Attchments (3)</small>#}
{#                    </h6>#}
{#                    <div class="gap-items-2 gap-y" data-provide="photoswipe">#}
                        {#                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/2.jpg" alt="..."></a>#}
                        {#                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/3.jpg" alt="..."></a>#}
                        {#                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/1.jpg" alt="..."></a>#}
{#                    </div>#}

{#                    <hr class="w-50px ml-0 mb-1">#}
{#                    <p>Best regards,<br>Hossein Shams</p>#}
                </div>

            </div>

        {% empty %}

            <p>No Comments</p>

        {% endfor %}

        {% include 'formly/partials/pagination.html' %}

        <br>
        <hr>

    </div>
</div>



