{% load static %}
<div class="main-content container">
    <div class="container">
        <div class="row gap-y gap-4">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="media-list media-list-divided media-list-hover b-1 border-light bg-white">
                    {% for daycare in survey.daycares.all %}
                        <a class="media align-items-center"
                           href="{% url "formly_rt_take_survey" survey_pk=survey.pk daycare_pk=daycare.pk %}">
                            <img class="avatar" src="{% static 'img/avatar/default.jpg' %}" alt="...">

                            <div class="media-body text-truncate">
                                <h5 class="fs-15">{{ daycare.name }}</h5>
                                <small class="opacity-65 fw-300">
                                    {#                      <span class="text-warning">Bootstrap</span>#}
                                    <span class="divider-dash"></span>


                                </small>
                            </div>




                            {#                  <div class="fs-20 text-fade">02</div>#}
                        </a>
                    {% empty %}


                        <div class="media-body text-truncate">
                            <h5 class="fs-15">There are no Registerd Daycares</h5>
                            <small class="opacity-65 fw-300">
                                <span class="divider-dash"></span>
                            </small>
                        </div>
                    {% endfor %}


                </div>

                {##}
                {#              <div class="flexbox align-items-center py-20">#}
                {#                <span class="flex-grow text-right text-lighter pr-2">1-20 of 367</span>#}
                {#                <nav>#}
                {#                  <a class="btn btn-sm btn-square disabled" href="#"><i class="ti-angle-left"></i></a>#}
                {#                  <a class="btn btn-sm btn-square" href="#"><i class="ti-angle-right"></i></a>#}
                {#                </nav>#}
                {#                {% include 'formly/partials/pagination.html' %}#}
                {#              </div>#}

                <br>
                {% include 'formly/partials/pagination.html' %}
            </div>
            {#{% include 'formly/partials/pagination.html' %}#}
        </div>
    </div>
</div>


