{#{% extends "layout.html" %}#}
{% extends "layout.html" %}

{% block head_title %}Surveys{% endblock %}

{% block content %}


    {% include "formly/partials/_sub_menu.html" %}
    <div class="main-content">
        <div class="container">
            <div class="card shadow-1">
                <h5 class="card-title">
                    <strong>
                        <legend>{{ page }}</legend>
                    </strong>
                </h5>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card-body">


                            <ul class="nav nav-tabs">
                                {% for survey_page in survey.pages.all %}
                                    <li class="nav-item">

                                        <a class="nav-link {% if survey_page == page %}active{% endif %}"
                                           href="/question/sets/{{ survey.pk }}/run/{{ survey_page.pk }}/">{{ survey_page }}</a>
                                    </li>
                                {% endfor %}


                            </ul>


                            {% if form.is_multipart %}
                                <form action="" method="post" enctype="multipart/form-data">
                            {% else %}
                                <form action="" method="post">
                            {% endif %}

                            {% csrf_token %}

                            <fieldset>
                                {% for field in form %}


                                    <div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p style="color: red">Error {{ error }}</p>
                                        {% endfor %}
                                    {% endif %}

                                    {% if field.field.widget.attrs.field_type == 0 %} {#  TEXT_FIELD = 0 #}
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="input-normal">
                                                    <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                    {{ field.label_tag }}
                                                </label>

                                                <input type="text"
                                                       class="form-control"
                                                       id="input-normal"
                                                       name="{{ field.name }}"
                                                       value="{% if field.value %}{{ field.value }}{% endif %}">

                                                <span class="helptext">{{ field.help_text }}</span>
                                            </div>
                                        </div>

                                        {% elif field.field.widget.attrs.field_type == 1 %}{# TEXT_AREA = 1 #}
                                        <div class="col-md-12">
                                            <div class="form-group">


                                                <div class="form-group">
                                                    <label for="textarea">
                                                        <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                        {{ field.label_tag }}
                                                    </label>
                                                    <textarea class="form-control"
                                                              name="{{ field.name }}"
                                                              id="textarea" rows="6"></textarea>
                                                    <span class="helptext">{{ field.help_text }}</span>
                                                </div>
                                            </div>
                                        </div>


                                        {% elif field.field.widget.attrs.field_type == 32 %}{# RADIO_CHOICES = 2 #}
                                        <div class="col-md-12">
                                            <hr class="d-md-none">
                                            <label>Defaults</label>

                                            <div class="custom-controls-stacked">
                                                {% for select in selection %}
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Unchecked</span>
                                                    </label>
                                                {% endfor %}

                                            </div>
                                        </div>

                                        {% elif field.field.widget.attrs.field_type == 3 %}{# DATE_FIELD = 3 #}
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="input-normal">
                                                    <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                    {{ field.label_tag }}
                                                </label>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                               data-provide="datepicker"
                                                               data-date-today-highlight="true">
                                                    </div>
                                                    <span class="helptext">{{ field.help_text }}</span>
                                                </div>
                                            </div>
                                        </div>


                                    {% elif field.field.widget.attrs.field_type == 4 %}

                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                    {{ field.label_tag }}
                                                </label>

                                                <select class="form-control" data-provide="selectpicker">
                                                    {% for choice in field.field.choices %}
                                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    {% elif field.field.widget.attrs.field_type == 5 %}
                                        <div class="col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                    {{ field.label_tag }}
                                                </label>

                                                <select class="form-control" data-provide="selectpicker">
                                                    {% for choice in field.field.choices %}
                                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    {% elif field.field.widget.attrs.field_type == 6 %} {# SELECT_FIELD = 4 #}
                                        <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="input-normal">
                                                <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                {{ field.label_tag }}
                                            </label>
                                            <div class="form-group file-group">
                                                <input type="text" class="form-control file-value file-browser"
                                                       placeholder="Choose file..." readonly="">
                                                <input type="file" multiple="">
                                                <span class="helptext">{{ field.help_text }}</span>
                                            </div>
                                        </div>

                                        {% elif field.field.widget.attrs.field_type == 7 %}{# RADIO_CHOICES = 2 #}
                                        <div class="col-md-12">
                                            <hr class="d-md-none">
                                            <label>
                                                <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                {{ field.label_tag }}

                                            </label>

                                            <div class="custom-controls-stacked">
                                                {#                                                    {% for select in selection %}#}
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="{{ field.name }}"
                                                           class="custom-control-input">
                                                    <span class="helptext">{{ field.help_text }}</span>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Check the box if true</span>
                                                </label>
                                                {#                                                    {% endfor %}#}

                                            </div>
                                        </div>


                                    {% elif field.field.widget.attrs.field_type == 9 %}
                                        {#                                             RADIO_CHOICES = 2#}
                                        <div class="col-md-1s2">
                                            <hr class="d-md-none">
                                            <label>
                                                <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                {{ field.label_tag }}

                                            </label>

                                            <div class="custom-controls-stacked">
                                                {% for select in selection %}
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="helptext">{{ field }}</span>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Check the box if true</span>
                                                    </label>
                                                {% endfor %}

                                            </div>
                                        </div>




                                    {% elif field.field.widget.attrs.field_type == 10 %}
                                        {#                                             RADIO_CHOICES = 2#}
                                        <div class="col-md-12">
                                            <hr class="d-md-none">
                                            <label>
                                                <span>{{ page.fields_start_index|add:forloop.counter }} .</span>
                                                {{ field.label_tag }}

                                            </label>

                                            <div class="custom-controls-stacked">
                                                {% for select in selection %}
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="helptext">{{ field.help_text }}</span>
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">Check the box if true</span>
                                                    </label>
                                                {% endfor %}

                                            </div>
                                        </div>

                                    {% else %}

                                        <div class="form-group">
                                            <span>{{ page.fields_start_index|add:forloop.counter }}</span>

                                            {{ field.label_tag }}
                                            {{ field }}
                                            <span class="helptext">{{ field.help_text }}</span>
                                        </div>
                                    {% endif %}


                                </div>
                                {% endfor %}
                            </fieldset>


                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
