{% extends 'authentication/layout.html' %}
{% load web_filters %}

{% block content %}

    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h3 class="panel-title text-center">Enter Registered Email Address </h3>

            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}

            <form role="form" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}

                {% for field in form %}
                    <div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p style="color: red">Error {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|addclass:'form-control' }}
                            <span class="helptext">{{ field.help_text }}</span>
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-bold btn-block btn-primary" type="submit">Reset</button>

            </form>
            🤔 You recall the password? <a class="" href="{% url 'authentication:login' %}">Login</a>

        </div>

    </div>

{% endblock %}