{% extends 'authentication/layout.html' %}
{% load web_filters %}

{% block  content %}
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h3 class="panel-title text-center">Change password </h3>
            {% if validlink %}
                <form class="form-type-material" method="post">
                    {% csrf_token %}

                    {% if form.errors %}
                        <p>{{ form.errors }}</p>
                    {% endif %}

                    {% for field in form %}
                        <div>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p style="color: red">Error {{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field|addclass:'form-control' }}
                                <span class="helptext">{{ field.help_text|safe }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-bold btn-block btn-primary" type="submit">Change password</button>
                    </div>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}

        </div>
    </div>

{% endblock %}