{% extends 'authentication/layout.html' %}

{% block content %}
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h3 class="panel-title text-center">Password Reset </h3>
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email
                you
                entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and you could also check your spam folder.
            </p>

            <a href="">Open Mail to visit the Password reset link</a>

        </div>
    </div>

{% endblock %}
