{% extends "layout.html" %}
{% load static %}

{#{% block head_title %}Surveys{% endblock %}#}

{% block content %}
    {% include "formly/partials/_sub_menu.html" with active_tab='tab1'%}

<div class="main-content container">
    <div class="container">
        <div class="row gap-y gap-4">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="media-list media-list-divided media-list-hover b-1 border-light bg-white">
                    {% for daycare in survey.daycares.all %}
                        <a class="media align-items-center"
                           href="/surveys/{{ survey.pk }}/daycares/{{ daycare.pk }}/start">



                            <div class="media-body text-truncate">
                                <h5 class="fs-15">{{ daycare.name }}</h5>
                                <small class="opacity-65 fw-300">
                                    {#                      <span class="text-warning">Bootstrap</span>#}
{#                                    <span class="divider-dash"></span>#}


                                </small>
                            </div>
                        </a>
                    {% empty %}


                        <div class="media-body text-truncate">
                            <h5 class="fs-15">There are no Registerd Daycares</h5>
                            <small class="opacity-65 fw-300">
                                <span class="divider-dash"></span>
                            </small>
                        </div>
                    {% endfor %}


                </div>


                <br>
                {% include 'formly/partials/pagination.html' %}
            </div>
            {#{% include 'formly/partials/pagination.html' %}#}
        </div>
    </div>
</div>


{% endblock %}