{% extends 'layout.html' %}
{% block content %}

    <div class="container">

        You are about to take a Test : {{ form.survey.name }}

        <form method="POST" class="post-form">{% csrf_token %}
            <div style="display: none;">
                {{ form.as_p }}
            </div>
            <button type="submit" class="save btn btn-default">Start</button>
        </form>
    </div>
{% endblock %}

