{% if state == 0 %}

    <a class="btn btn-danger"
   href="/question/sets/{{ survey.pk }}/run">Take Test</a>

{% elif state == 1 %}
<a class="btn btn-danger"
   href="/question/sets/{{ survey.pk }}/run">Continue Test</a>

{% elif state == 2 %}
<a class="btn btn-danger"
   href="/question/surveys/{{ survey.pk }}/results/{{ r.pk }}/">View Submission</a>

{% endif %}

