{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
      <header class="header header-inverse">
        <div class="container">
          <div class="header-info">
            <div class="left">
              <br>
              <h2 class="header-title"><strong>Archive</strong> <small class="subtitle">View passt taken surveys, insights and statistics </small></h2>
            </div>
            <div class="right flex-middle d-none d-md-block">
            </div>
          </div>
        </div>
      </header><!--/.header -->
      <div class="main-content">
        <div class="container">
          <div class="row">


            <div class="col-sm-12 col-lg-4">
                <a href="/surveys/2/results">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <div class="dropdown">
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-info "><span class="pe-7s-notebook icons_color"></span></div>
                    <span class="fw-400 text-muted"><h5>Partners Site Reports</h5></span>
                  </div>
                </div>
                <div class="progress mb-0">
                </div>
              </div>
                    </a>
            </div>




            <div class="col-sm-12 col-lg-4">
             <a href="/surveys/1/results">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <div class="dropdown">
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-danger"><span class="pe-7s-note2 icons_color"></span></div>
                    <span class="fw-400 text-muted"><h5>Due Dilligence</h5></span>
                  </div>
                </div>
              </div>
             </a>
            </div>



            <div class="col-sm-12 col-lg-4">
             <a href="{% url 'calendar:events_list' %}">
              <div class="card shadow-1">
                <div class="card-body">
                  <div class="flexbox">
                    <div class="dropdown">
                    </div>
                  </div>

                  <div class="text-center my-2">
                    <div class="fs-60 fw-400 text-primary"><span class="pe-7s-date icons_color"></span></div>
                    <span class="fw-400 text-muted"><h5>Calendar</h5></span>
                  </div>
                </div>
              </div>
             </a>
            </div>


{#            <div class="col-sm-12 col-lg-4">#}
{#                <a href="">#}
{#              <div class="card shadow-1">#}
{#                <div class="card-body">#}
{#                  <div class="flexbox">#}
{#                  </div>#}
{#                  <div class="text-center my-2">#}
{#                    <div class="fs-60 fw-400 text-primary"><span class="pe-7s-box1 icons_color"></span></div>#}
{#                    <span class="fw-400 text-muted"><h5>Archives</h5></span>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              </a>#}
{#            </div>#}
            <div class="col-12 h-50px"></div>

          </div>
        </div>
      </div>
{% endblock %}
