{% extends 'layout.html' %}

{% load staticfiles %}
{% load formly %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h4 class="">Question Sets</h4>
        </div>
        <div class="col-md-5">
            {% if request.user.has_staff_permissions %}

                <a href="{% url 'formly:formly_dt_survey_create' %}"
                   class="btn btn-primary float-right">Create New Questions Set</a>

            {% endif %}

        </div>
    </div>



    <ul class="list-group">

        {% for survey in surveys %}
            <li class="list-group-item">

                <div class="row">

                    <div class="col-md-10">

                        <h4>{{ survey.name }} </h4>
                        <h6>Pages <strong>{{ survey.pages.count }}</strong></h6>
                        <h6>Questions <strong>{{ survey.fields.count }}</strong></h6>

                        {% if request.user.has_staff_permissions %}
                            Submissions <strong>{{ survey.survey_results.count }}</strong>


                        {% endif %}

                    </div>
                    <div class="col-md-2" style="padding-left: 0;">


                        <!-- Example split danger button -->
                        <div class="btn-group float-right">
                            {#  <button type="button" class="btn btn-danger">Action</button>#}

                            {% if request.user.has_staff_permissions %}
                                <a class="btn btn-danger"
                                   href="/question/surveys/{{ survey.pk }}/results/">Submissions</a>


                            {% else %}

                                {% student_actions request.user survey %}

                            {% endif %}

                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                {% if request.user.has_staff_permissions %}
                                    <a class="dropdown-item" href="{% url 'formly:formly_dt_survey_detail' pk=survey.pk %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'formly:formly_dt_survey_delete' pk=survey.pk %}">Delete</a>
                                {% endif %}
                                {#                                <a class="dropdown-item" href="#">Another action</a>#}
                                {#                                <a class="dropdown-item" href="#">Something else here</a>#}
                                {#                                <div class="dropdown-divider"></div>#}
                                {#                                <a class="dropdown-item" href="#">Separated link</a>#}
                            </div>
                        </div>


                    </div>

                </div>


            </li>
        {% empty %}

            <span>No Question Sets Yet</span>
        {% endfor %}


    </ul>
{% endblock %}
