{% load static %}
    <!-- Topbar -->
    <header class="topbar topbar-expand-lg topbar-secondary topbar-inverse">
      <div class="container">
        <div class="topbar-left">
          <span class="topbar-btn topbar-menu-toggler"><i>&#9776;</i></span>

          <div class="topbar-brand">
            <a href="/"><img src="{% static 'img/tlogo.png' %}" alt="..."></a>
          </div>

          <div class="topbar-divider d-none d-md-block"></div>

                   <nav class="topbar-navigation">
            <ul class="menu">



              <li class="menu-item {% if active_tab == 'tab1' %}active{% endif %}">
                <a class="menu-link" href="{% url 'detail' pk=1 %}">
                  <span class="title active">Due Dilligence</span>
                </a>
              </li>

              <li class="menu-item {% if active_tab == 'tab2' %}active{% endif %}">
                <a class="menu-link" href="{% url 'detail' pk=2 %}">
                  <span class="title">Partners Assessment</span>
                </a>
              </li>

              <li class="menu-item {% if active_tab == 'tab3' %}active{% endif %}">
                <a class="menu-link" href="{% url 'calendar:index' %}">
                  <span class="title">Calendar</span>
                </a>
              </li>

{#              <li class="menu-item {% if page == 'user_registration' %}active{% endif %}">#}
              <li class="menu-item {% if active_tab == 'tab4' %}active{% endif %}">
                <a class="menu-link" href="/">
                  <span class="title">Archives</span>
                </a>
              </li>



            </ul>
          </nav>
        </div>


        <div class="topbar-right">
          <ul class="topbar-btns">
            <li class="dropdown">
              <span class="topbar-btn" data-toggle="dropdown">
                  <img class="avatar" src="{% static 'img/avatar/1.jpg' %}" alt="...">
              </span>
              <div class="dropdown-menu dropdown-menu-right">
{#                <a class="dropdown-item" href="/profile/"><i class="ti-user"></i> Profile</a>#}
{#                <a class="dropdown-item" href="/settings/"><i class="ti-settings"></i> Settings</a>#}
{#                <a class="dropdown-item" href="/admin/"><i class="ti-settings"></i> Admin</a>#}
                <a class="dropdown-item" href="#"><i class="ti-settings"></i> {{ user.name }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'core:logout' %}"><i class="ti-power-off"></i> Logout</a>
              </div>
            </li>
            <li>
              <span class="topbar-btn  {% if notification %}has-new{% endif %}" data-toggle="quickview" data-target="#qv-notifications"><i class="ti-bell"></i></span>
            </li>

          </ul>

        </div>
      </div>
    </header>
    <!-- END Topbar -->


