{% load static %}
    <!-- Notifications -->
    <div id="qv-notifications" class="quickview">
      <header class="quickview-header quickview-header-lg">
        <h5 class="quickview-title">Notifications</h5>
        <span class="close"><i class="ti-close"></i></span>
      </header>

      <div class="quickview-body">
        <div class="media-list media-list-hover media-list-divided media-sm notification-box-list">
            {% load notification_tags %}
            {% render_notifications using request.user.notifications.active %}

        </div>
      </div>

      <footer class="quickview-footer flexbox">
        <div>
          <a href="#">View full archive</a>
        </div>
        <div>
          <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
          <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
          <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
        </div>
      </footer>
    </div>

    <!-- END Quickviews -->
    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
