



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Surveys{% endblock %}</title>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">


</head>
<body>

<a target="_blank" href="/admin">Django Admin</a>


{% block body %}
    <div class="row">
        <div class="col-md-3 surveys">
            {% include "formly/design/_surveys.html" %}
        </div>
        <div class="col-md-3 pages">
            {% include "formly/design/_pages.html" %}
        </div>
        <div class="col-md-3 fields">
            {% include "formly/design/_fields.html" %}
        </div>
        <div class="col-md-3 field_edit">
            {% include "formly/design/_field_edit.html" %}
        </div>
    </div>
{% endblock %}
</body>
</html>