{% extends 'layout.html' %}
{% block content %}

    <div style="margin-top: 20px"></div>

    <!-- Icon Cards-->

    <div class="row">

        {% if request.user.is_superuser or request.user.is_staff %}
            <div class="col-xl-3 col-sm-6 mb-3">

                <div class="card text-white bg-primary o-hidden h-100">

                    <div class="card-body">

                        <div class="card-body-icon">

                            <i class="fa fa-fw fa-comments"></i>

                        </div>

                        <div class="mr-5">{{ teachers.count }} Teacher{{ teachers.count|pluralize }}</div>

                    </div>

                    <a class="card-footer text-white clearfix small z-1" href="/teacher">

                        <span class="float-left">View Details</span>

                        <span class="float-right">

                <i class="fa fa-angle-right"></i>

              </span>

                    </a>

                </div>

            </div>
            <div class="col-xl-3 col-sm-6 mb-3">

                <div class="card text-white bg-warning o-hidden h-100">

                    <div class="card-body">

                        <div class="card-body-icon">

                            <i class="fa fa-fw fa-list"></i>

                        </div>

                        <div class="mr-5">{{ students.count }} Student{{ students.count|pluralize }}</div>

                    </div>

                    <a class="card-footer text-white clearfix small z-1" href="/student">

                        <span class="float-left">View Details</span>

                        <span class="float-right">

                <i class="fa fa-angle-right"></i>

              </span>

                    </a>

                </div>

            </div>

        {% endif %}



        <div class="col-xl-3 col-sm-6 mb-3">

            <div class="card text-white bg-success o-hidden h-100">

                <div class="card-body">

                    <div class="card-body-icon">

                        <i class="fa fa-fw fa-list-ul"></i>

                    </div>

                    <div class="mr-5">{{ questions.count }} Question Set{{ questions.count|pluralize }}</div>

                </div>

                <a class="card-footer text-white clearfix small z-1" href="/question/">

                    <span class="float-left">View</span>

                    <span class="float-right">

                <i class="fa fa-angle-right"></i>

              </span>

                </a>

            </div>

        </div>

        {#        <div class="hidden col-xl-3 col-sm-6 mb-3">#}
        {##}
        {#            <div class="card text-white bg-danger o-hidden h-100">#}
        {##}
        {#                <div class="card-body">#}
        {##}
        {#                    <div class="card-body-icon">#}
        {##}
        {#                        <i class="fa fa-fw fa-support"></i>#}
        {##}
        {#                    </div>#}
        {##}
        {#                    <div class="mr-5">####!</div>#}
        {##}
        {#                </div>#}
        {##}
        {#                <a class="card-footer text-white clearfix small z-1" href="#">#}
        {##}
        {#                    <span class="float-left">View Details</span>#}
        {##}
        {#                    <span class="float-right">#}
        {##}
        {#                <i class="fa fa-angle-right"></i>#}
        {##}
        {#              </span>#}
        {##}
        {#                </a>#}
        {##}
        {#            </div>#}
        {##}
        {#        </div>#}

    </div>


{% endblock %}