{% extends 'layout.html' %}
{% load myfilters %}

{% block content %}

    <h4>Register A New Student</h4>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group row">
                <div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">Error {{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field|addclass:'form-control' }}    </div>
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <div>

            <div class="form-group">

                <input type="submit" value="Submit" class="btn btn-primary form-control">


            </div>
        </div>
    </form>
{% endblock %}