{% extends 'layout.html' %}

{% block content %}


    <div class="row">

    <div class="col-md-10">
    <h3>Students</h3>
    </div>
    <div class="col-md-2">
        <a href="/student/add" class="btn btn-primary float-right">Register New</a>
    </div>



    </div>



    <ul class="list-group">

        {% for student in students %}
            <li class="list-group-item {% if not student.is_active %}list-group-item-danger{% else %}{% endif %}">
                 # <strong>{{ student.username }} </strong> <br>
                 Name <strong>{{ student.first_name }} {{ student.last_name }}</strong>

                <div class="dropdown float-right">
                    <button class="btn btn-default dropdown-toggle"
                            type="button"
                            id="dropdownMenu2"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        {% if student.is_active %}
                        <a class="dropdown-item" href="#">De-Activate</a>
                        <a class="dropdown-item" href="#">Reset Password</a>

                            {% else %}
                            <a class="dropdown-item"
                               href="/student/{{ student.pk }}/resend_email">Resend Registration Email</a>
                        {% endif %}
                      <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>

            </li>
        {% empty %}

            <p> No Students Yet.</p>
        {% endfor %}


    </ul>




{% endblock %}