{% extends 'layout.html' %}
{% load myfilters %}

{% block content %}

        <h4>Register A New Teacher</h4>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p style="color: red">Error {{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {{ field|addclass:'form-control' }}
                    <span class="helptext">{{ field.help_text }}</span>
                </div>
            </div>
        {% endfor %}
        <div>

            <div class="form-group">

                        <input type="submit" value="Submit" class="btn btn-primary form-control">


            </div>
        </div>


    </form>
{% endblock %}