{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <h3>Teachers</h3>
        </div>
        <div class="col-md-2">
            <a href="/teacher/add" class="btn btn-primary float-right">Register New</a>
        </div>
    </div>

    <ul class="list-group">

        {% for teacher in teachers %}
            <li class="list-group-item {% if teacher.is_active %}{% else %}list-group-item-warning{% endif %}">
                {{ teacher }}
                <div class="dropdown float-right">



                    <i class="fa fa-ellipsis-v"

                            id="dropdownMenu2"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                    </i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        {% if teacher.is_active %}
                            <a class="dropdown-item" href="#">De-Activate</a>
                            <a class="dropdown-item" href="#">Reset Password</a>

                        {% else %}
                            <a class="dropdown-item"
                               href="/teacher/{{ teacher.pk }}/resend_email">Activate</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                </div>

            </li>
        {% empty %}

            <p> No Teachers Yet.</p>
        {% endfor %}


    </ul>




{% endblock %}