{% extends 'layout.html' %}

{% block content %}
    <div class="card">
  <div class="card-body">
      Teacher Activated successfully. <br>
      A Password reset link has been emailed
  </div>
</div>
{% endblock %}