{% extends 'layout.html' %}

{% block content %}

    <h4>Teacher Registered</h4>

    <p>

    The teacher has received an invitation email with a link to reset the accounts password and complete registration

    </p>


{% endblock %}