{% extends 'application.html' %}

{% load active_link_tags %}


{% block app %}
    <div class="container">
        <!-- Navigation -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark"
             style="background-color: #36d4ce;border-bottom-left-radius: .25rem;border-bottom-right-radius: .25rem">
            <a class="navbar-brand" href="/">Quizer</a>
            {#        <a class="navbar-brand" href="/">#}
            {#            <img src="{% static 'logo.png' %}" width="30" height="30" alt="">#}
            {#        </a>#}

            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav mr-auto">

                    {% if request.user.is_superuser %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'core:teacher' %}">
                                Teachers <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:students' %}">Students</a>
                        </li>

                    {% elif request.user.is_staff %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'core:students' %}">Students</a>
                        </li>

                    {% endif %}



                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'formly:surveys' %}">Questions</a>
                    </li>


                </div>
                {% block nav_form %}
                    <form class="form-inline col-md-5">
                        <input class="form-control col-md-12" type="search" placeholder="Search">
                    </form>
                {% endblock nav_form %}
                <ul class="navbar-nav">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#!"
                           id="navbarDropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {% if request.user.is_authenticated %}
                                {{ request.user }}
                            {% else %}
                                Hi!
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="navbarDropdownMenuLink">
                            {% if request.user.is_authenticated %}

                                <a class="dropdown-item" href="/logout/">Logout</a>
                                {% if request.user.is_superuser %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" target="_blank" href="/admin/">Admin</a>
                                {% endif %}
                            {% else %}

                                <a class="dropdown-item" href="/login/">Login</a>
                                <a class="dropdown-item" href="/signup/">Register</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="spacer" style="margin-top: 10px"></div>
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}