{% if selected_page %}
    {#    <h2>Fields</h2>#}

    <div class="list-group">
        {% for field in fields %}
            <div data-ordinal="{{ field.ordinal }}" class="list-group-item"
                 {% if selected_field == field %}style="border-left: 5px solid #337ab7;"{% endif %}>
                <div>
                <span class="ordering btn-group pull-right">


{#                            <div class="form-actions">#}
{#            <input type="hidden" name="action" value="field_update"/>#}
{#            <input type="hidden" name="action" value="field_update">#}
{#            <button type="submit" class="btn btn-primary">Save</button>#}
{#            <a class="btn btn-danger" href="{% url "formly:formly_dt_field_delete" pk=field.pk %}">Delete</a>#}
{#        </div>#}
                    <a class="btn btn-xs btn-default ajax"
                       href="{% url "formly:formly_dt_field_move_up" pk=field.pk %}"
                       data-replace-inner=".fields"
                       data-method="post">
                       <i class="fa fa-fw fa-arrow-up"></i>
                    </a>
                    <a class="btn btn-xs btn-default ajax"
                       href="{% url "formly:formly_dt_field_move_down" pk=field.pk %}"
                       data-replace-inner=".fields"
                       data-method="post">
                       <i class="fa fa-fw fa-arrow-down"></i>
                    </a>
                </span>
                    <span>
                    <a href="{% url "formly:formly_dt_field_update" pk=field.pk %}">
                        {{ field.label }}
                    </a>
                </span>
                </div>

                <div>
                    {{ field.get_field_type_display }}
                </div>
                {% if field.choices.exists %}
                    <div>
                        {% for choice in field.choices.all %}
                            <span class="label label-default">{{ choice }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="text-muted">
                    <small>{{ field.help_text }}</small>
                </div>
            </div>

        {% empty %}

            <p>No Questions added on this page yet.</p>

        {% endfor %}
    </div>
    <hr/>
    <form action="{% url "formly:formly_dt_field_create" pk=selected_page.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-mini btn-block btn-default"><i class="fa fa-fw fa-plus"></i> Add Question</button>
    </form>

{% endif %}
