
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

      {% for page in pages %}
    <li class="page-item {% if page == selected_page %}active{% endif %}">
        <a class="page-link" href="{{ page.get_absolute_url }}">{{ page.label }}</a>
    </li>
      {% endfor %}

  </ul>
</nav>
