

<div class="list-group">

{% for page in pages %}


        <a href="{{ page.get_absolute_url }}"

           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{ page.label }}

            <span class="badge badge-primary badge-pill">{{ page.fields.count }}</span>

        </a>


    {% endfor %}

</div>
