<form action="{% url "formly:formly_dt_survey_create" %}" class="row" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group col-md-12 col-xl-12">
        <label class="require" for="id_name">Name:</label>
        <div class="form-group">
            <input type="text" class="form-control" id="survey_form.name" value="" name="name" maxlength="100" required
                   id="survey_form.name">
        </div>


        <input type="submit" value="Submit" class="btn btn-primary">
    </div>


</form>
