{% extends "layout.html" %}

{% block head_title %}Surveys{% endblock %}

{% block content %}
      <div class="main-content">
        <div class="container">
                <div class="card shadow-1">
                <h5 class="card-title"><strong>Surveys</strong></h5>
                <div  class="row">
                    <div class="col-md-12 col-sm-12">

<div class="card-body">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 ">
                                {% include "formly/design/_survey_form.html" %}
                            </div>
                            </div>

                    </div>
                </div>
                </div>
            </div>
</div>
            </div>

{% endblock %}
