{% extends "layout.html" %}
{% block content %}

<form action="{% url "formly:formly_dt_field_delete" pk=field.pk %}" method="post">
    <legend>{{ field }}</legend>
    {% csrf_token %}
    <fieldset>
        {{ form.as_p }}
{#        {{ form|bootstrap }}#}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn" href="{{ field.page.get_absolute_url }}">Cancel</a>
    </div>
</form>

{% endblock %}
