
{% extends "layout.html" %}
{% block content %}
<form action="{% url "formly:formly_dt_page_delete" pk=page.pk %}" method="post">
    <legend>{{ page }}</legend>
    {% csrf_token %}
     <fieldset>
{#        {{ form|bootstrap }}#}
        {{ form.as_p }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn" href="{{ page.get_absolute_url }}">Cancel</a>
    </div>
</form>

{% endblock %}
