


{% for page in pages %}
<form method="post" action="/question/design/pages/{{ page.pk }}/update/">
{% csrf_token %}
    <input type="hidden" name="action" value="page_update">
    <input type="hidden" name="page" value="{{ page.pk }}">
    <input type="text" name="subtitle" value="{{ page }}">

    <input type="submit" value="Save">

</form>
{% endfor %}

