{% extends "layout.html" %}

{% load bootstrap %}

{% block content %}
    <header class="jumbotron subhead" id="overview">
      <h1>Delete Question Set {{ survey }} </h1>
      <p class="lead">Please confirm the deletion of this Question Set.</p>
    </header>

    <form action="{% url "formly:formly_dt_survey_delete" pk=survey.pk %}" method="post">

        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn" href="{{ survey.get_absolute_url }}">Cancel</a>
        </div>
    </form>
{% endblock %}
