
    <h3>{{ page.survey }}</h3>
    <ul class="nav nav-list">
        {% for p in page.survey.pages.all %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ p.get_absolute_url }}">{{ p.label }}</a></li>
        {% endfor %}
    </ul>
    <form action="{% url "formly_dt_page_create" pk=page.survey.pk %}" method="post" style="margin-top: 1em;">
        {% csrf_token %}
        <button type="submit" class="btn btn-mini btn-success"><i class="icon-plus icon-white"></i> Add Page</button>
    </form>
{% block body %}

{% endblock %}
{% block extra_body %}

{% endblock %}
