{% extends "layout.html" %}

{% block content %}

    <div class="card" style="">

        <div class="card-body">
            <h5 class="card-title">Question Edit</h5>
            {% include "formly/design/_field_edit.html" %}
        </div>
    </div>

{% endblock %}
