{#{% extends "layout.html" %}#}
{% extends "layout.html" %}

{% block head_title %}Surveys{% endblock %}

{% block page %}

                <div class="card shadow-1">
                <h5 class="card-title"><strong>Filters Users</strong></h5>
                <div  class="row">
                    <div class="col-md-12 col-sm-12">

{#                <form class="card-body">#}
{##}
{#                    <div class="form-group">#}
{#                        <label>Categories</label>#}
{#                        <select title="All Categories" multiple data-provide="selectpicker" data-width="100%" data-actions-box="true">#}
{#                            <option>General</option>#}
{#                            <option>Update</option>#}
{#                            <option>How to</option>#}
{#                            <option>Guide</option>#}
{#                        </select>#}
{#                    </div>#}
{##}
{#                    <hr>#}
{##}
{#                    <div class="text-right">#}
{#                        <a class="btn btn-sm btn-bold btn-secondary mr-1" href="#">Reset</a>#}
{#                        <button class="btn btn-sm btn-bold btn-primary" type="submit">Apply</button>#}
{#                    </div>#}
{#                </form>#}


                        <div class="row">
                            <div class="col-md-3 ">
                                {% include "formly/design/_surveys.html" %}
                            </div>
                            <div class="col-md-3 ">
                                {% include "formly/design/_pages.html" %}
                            </div>
                            <div class="col-md-3 ">
                                {% include "formly/design/_fields.html" %}
                            </div>
                            <div class="col-md-3 ">
                                {% include "formly/design/_field_edit.html" %}
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>

{% endblock %}
