{% extends "layout.html" %}

{% block content %}

        <h4 class="">Page Edit</h4>

        <div class="card" style="">

        <div class="card-body">
            <h5 class="card-title">{{ selected_survey }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ selected_page }}</h6>

            <a href="{% url 'formly:formly_dt_page_delete' pk=selected_page.pk %}" class="btn btn-danger">Delete</a>

        </div>
    </div>

    <div class="card" style="margin-top: 10px">

        <div class="card-body">
            <h5 class="card-title">Questions</h5>

            {% include "formly/design/_fields.html" %}

        </div>
    </div>
    <div style="margin-top: 10px"></div>
    {% include "formly/design/_pages.html" %}



{% endblock %}



