{% extends "layout.html" %}

{#{% block head_title %}Surveys{% endblock %}#}

{% block content %}

    <h4 class="">Create New Question Set</h4>


    <div class="card" style="margin-top: 10px">

        <div class="card-body">
            <h5 class="card-title">{{ results_page }}</h5>
            {% include "formly/design/_survey_form.html" %}
        </div>
    </div>



{% endblock content %}
