{% extends "layout.html" %}



{% block content %}

    <h4 class="">Question Set Edit</h4>

    {#    <a class="nav-link {% if active_tab == 'tab2' %} active{% endif %} " href="/surveys/{{ survey.pk }}/results/drafts">Drafts</a>#}



    <div class="card" style="">

        <div class="card-body">
            <h5 class="card-title">{{ survey }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ survey.creator }}</h6>

            <p class="card-text">{{ survey.created|date }}</p>


            <a href="{% url 'formly:formly_dt_survey_delete' pk=survey.pk %}" class="btn btn-danger">Delete</a>


        <a class="btn btn-danger" href="/question/design/surveys/{{ survey.pk }}/pages/edit/">Edit Pages</a>



        </div>
    </div>

    <div class="card" style="margin-top: 10px">

        <div class="card-body">
            <h5 class="card-title">Pages</h5>

            {% include "formly/design/_pages1.html" %}

            <form class="success text-center" style="margin-top: 10px;"
                  id="form-id"
                  action="{% url "formly:formly_dt_page_create" pk=survey.pk %}"
                  method="post">
                {% csrf_token %}

                <a class="btn btn-primary"
                   onclick="document.getElementById('form-id').submit();">Add New Page</a>

            </form>

{#          todo  <a href="/design/surveys/{{ selected_page.survey.pk }}/pages/edit/" class="btn btn-primary">Edit Pages</a>#}
        </div>
    </div>


{% endblock %}
