{% load i18n %}
<a class="media" href="{{ actor_url }}" data-nf-id="{{ notification.id }}" id="nf-{{ notification.id }}" >
    <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
    <div class="media-body">
        <p>
            {% if notification.target %}
                {% blocktrans with actor_url=notification.actor_url actor=notification.actor verb=notification.verb target=notification.target target_url=notification.target_url%}
                    {{ actor }} {{ verb }} on {{ target }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans with actor_url=notification.actor_url actor=notification.actor verb=notification.verb%}
                    {{ actor }} {{ verb }}
                {% endblocktrans %}
            {% endif %}

        </p>
        <time datetime="{{ notification.created }}">
            {% blocktrans with created=notification.created|timesince %}{{created}} ago{% endblocktrans %}
        </time>
    </div>
</a>