<form action="{% url "formly:formly_survey_results" pk=survey.pk %}" class="row" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group col-md-12 col-xl-12">
        <label class="require" for="id_name">Name:</label>
        <div class="form-group">
           <textarea data-provide="summernote"
                     name="text" id="id_text" data-min-height="150" style="display: none;">
               Add Comment
           </textarea>
        </div>
    </div>
    <footer class="card-footer text-right">
       <button class="btn btn-bold btn-primary" type="submit">Submit</button>
    </footer>

</form>
