{% extends 'layout2.html' %}

{% block content %}
    {% include 'formly/design/_fields.html' %}
    {% include "formly/partials/_sub_menu.html" %}
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card-body">
                        {% include 'formly/partials/report_list.html' %}
                        {% include 'formly/partials/report_details.html' %}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}