
      <div class="main-content">
        <div class="container">


          <div class="card shadow-1">
            <header class="card-header bg-lightest">
              <div class="card-title flexbox">
                <img class="avatar" src="assets/img/avatar/2.jpg" alt="...">
                <div>
                  <h6 class="mb-0">Hossein Shams</h6>
                  <small>Today at 11:34 AM</small>
                </div>
              </div>
            </header>


            <div class="card-body">
              <p>Progressively administrate resource sucking methodologies and ethical action items. Globally monetize user-centric technology with low-risk high-yield action items. Collaboratively utilize cross-platform synergy whereas just in time.</p>
              <p>Monotonectally engage holistic benefits and pandemic solutions. Holisticly re-engineer multidisciplinary services and distributed solutions. Seamlessly simplify inexpensive relationships long-term high-impact methodologies. Conveniently innovate installed base. Proactively synergize holistic materials for standardized interfaces. Conveniently envisioneer strategic users whereas standards compliant e-business.</p>
              <hr>
              <h6 class="text-lighter text-uppercase mb-12">
                <i class="fa fa-paperclip mr-2"></i>
                <small>Attchments (3)</small>
              </h6>
              <div class="gap-items-2 gap-y" data-provide="photoswipe">
                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/2.jpg" alt="..."></a>
                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/3.jpg" alt="..."></a>
                <a class="d-inline-block" href="#"><img class="w-140px" src="assets/img/1.jpg" alt="..."></a>
              </div>

              <hr class="w-50px ml-0 mb-1">
              <p>Best regards,<br>Hossein Shams</p>
            </div>

          </div>




          <div class="card shadow-1">
            <header class="card-header bg-lightest">
              <div class="card-title flexbox">
                <img class="avatar" src="assets/img/avatar/1.jpg" alt="...">
                <div>
                  <h6 class="mb-0">Maryam Amiri <small class="sidetitle fs-11">Support Agent</small></h6>
                  <small>Today at 03:18 Pm</small>
                </div>
              </div>
            </header>


            <div class="card-body">
              <p>Credibly harness multidisciplinary ideas via alternative e-commerce. Intrinsicly transition interdependent best practices before resource sucking outsourcing. Dramatically deploy cross-platform growth strategies via 2.0 services. Competently incentivize customer directed infomediaries and leveraged markets. Synergistically syndicate goal-oriented innovation before magnetic mindshare. Interactively restore magnetic.</p>
            </div>

          </div>




          <div class="card shadow-1">
            <header class="card-header bg-lightest">
              <div class="card-title flexbox">
                <img class="avatar" src="assets/img/avatar/2.jpg" alt="...">
                <div>
                  <h6 class="mb-0">Hossein Shams</h6>
                  <small>Today at 06:38 PM</small>
                </div>
              </div>
            </header>

            <div class="card-body">
              <p>Thank you so much</p>
            </div>

          </div>


          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#">
                  <span class="ti-arrow-left"></span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <span class="ti-arrow-right"></span>
                </a>
              </li>
            </ul>
          </nav>


          <br>
          <hr>

          <div class="row">
            <div class="col-md-12">
              <form class="card shadow-1" method="post" enctype="multipart/form-data">
                <h4 class="card-title"><strong>Reply</strong></h4>

                <div class="card-body">
                  <div class="form-group">
                    <label class="require">Content</label>
                    <textarea data-provide="summernote" data-toolbar="slim"></textarea>
                  </div>

                  <div class="form-group">
                    <label>Attachments</label>
                    <div class="input-group file-group">
                      <input type="text" class="form-control file-value" placeholder="Choose file..." readonly>
                      <input type="file" multiple>
                      <span class="input-group-btn">
                        <button class="btn btn-light file-browser" type="button"><i class="fa fa-upload"></i></button>
                      </span>
                    </div>
                  </div>
                </div>

                <footer class="card-footer text-right">
                  <button class="btn btn-bold btn-primary" type="submit">Submit</button>
                </footer>
              </form>
            </div>


{#            <div class="col-md-4">#}
{#              <div class="card">#}
{#                <h4 class="card-title"><strong>Close the topic</strong></h4>#}
{##}
{#                <div class="card-body">#}
{#                  <p>Does your problem fixed? So press the following button to mark the topic as resolved.</p>#}
{#                  <a class="btn btn-success btn-block" href="#">Close the topic</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>


        </div>
      </div>



