{load static}

      <div class="main-content">
        <div class="container">
          <div class="row gap-y gap-4">

            <div class="col-md-4 col-lg-3">
              <a class="btn btn-bold btn-block btn-primary" href="forum-single.html">Create a topic</a>
              <hr>
              <h5 class="mb-2">Filter by category</h5>
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <span class="badge badge-ring badge-danger"></span>
                  <a class="nav-link" href="#">General</a>
                </li>
                <li class="nav-item">
                  <span class="badge badge-ring badge-warning"></span>
                  <a class="nav-link" href="#">Bootstrap</a>
                </li>
                <li class="nav-item">
                  <span class="badge badge-ring badge-info"></span>
                  <a class="nav-link" href="#">Gruntjs</a>
                </li>
                <li class="nav-item">
                  <span class="badge badge-ring badge-purple"></span>
                  <a class="nav-link" href="#">Plugins</a>
                </li>
              </ul>
            </div>


            <div class="col-md-8 col-lg-9">

              <div class="media-list media-list-divided media-list-hover b-1 border-light bg-white">
                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="assets/img/avatar/2.jpg" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Changing tags text colour</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-warning">Bootstrap</span>
                      <span class="divider-dash"></span>
                      Updated 3 mins ago by Hossein
                    </small>
                  </div>

                  <div class="fs-20 text-fade">02</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Full height page and fixed footer</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-danger">General</span>
                      <span class="divider-dash"></span>
                      Updated 49 mins ago by Maryam
                    </small>
                  </div>

                  <div class="fs-20 text-fade">09</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg' %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Hyperlinks mysteriously adding extra characters, breaking link</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-info">Gruntjs</span>
                      <span class="divider-dash"></span>
                      Updated 2 hours ago by Tim
                    </small>
                  </div>

                  <div class="fs-20 text-fade">04</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Removing Social Buttons/Icons from posts</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-danger">General</span>
                      <span class="divider-dash"></span>
                      Updated 3 hours ago by Sarah
                    </small>
                  </div>

                  <div class="fs-20 text-success" title="Answered" data-provide="tooltip">36</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Page isn’t working. Probably plugin.php</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-purple">Plugins</span>
                      <span class="divider-dash"></span>
                      Updated 8 hours ago by Dusel
                    </small>
                  </div>

                  <div class="fs-20 text-fade">17</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">CSS editor without preview</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-purple">Plugins</span>
                      <span class="divider-dash"></span>
                      Updated 11 hours ago by Tim
                    </small>
                  </div>

                  <div class="fs-20 text-success" title="Answered" data-provide="tooltip">05</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Mobile view correct on preview but not live view</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-warning">Bootstrap</span>
                      <span class="divider-dash"></span>
                      Updated 1 day ago by Hossein
                    </small>
                  </div>

                  <div class="fs-20 text-success" title="Answered" data-provide="tooltip">13</div>
                </a>


                <a class="media align-items-center" href="forum-single.html">
                  <img class="avatar" src="{% static 'img/avatar/default.jpg'  %}" alt="...">

                  <div class="media-body text-truncate">
                    <h5 class="fs-15">Make a theme retina ready (for the header image)</h5>
                    <small class="opacity-65 fw-300">
                      <span class="text-info">Gruntjs</span>
                      <span class="divider-dash"></span>
                      Updated 1 day ago by Maryam
                    </small>
                  </div>

                  <div class="fs-20 text-fade">01</div>
                </a>


              </div>


              <div class="flexbox align-items-center py-20">
                <span class="flex-grow text-right text-lighter pr-2">1-20 of 367</span>
                <nav>
                  <a class="btn btn-sm btn-square disabled" href="#"><i class="ti-angle-left"></i></a>
                  <a class="btn btn-sm btn-square" href="#"><i class="ti-angle-right"></i></a>
                </nav>
              </div>

              <br>

            </div>

          </div>
        </div>
      </div>


